[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_GEMINI_API_KEY = ""
  VITE_SUPABASE_URL = ""
  VITE_SUPABASE_ANON_KEY = ""
